.container-carousel{

    max-width: calc(100vw - 10%);   
    margin: 0 auto;
    
}
.carousel-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-weight:800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    

}
